<md-input type="search"
          (focus)="onEnter()"
          (blur)="onLeave()"
          (keyup)="onKeyUp($event)"
          [(ngModel)]="searchText"
          placeholder="{{placeholder}}"
          required="{{required}}">
</md-input>
<!--todo - define as content child-->
<div class="md-whiteframe-z1 md-autocomplete-list" *ngIf="popupVisible">
  <ul class="md-autocomplete-suggestions">
    <li *ngFor="let item of matches" (mousedown)="select(item)">
      <p>{{item[itemText]}}</p>
      <md-divider></md-divider>
    </li>
  </ul>
</div>
