<md-card align="center">
  <md-card-title>New Application</md-card-title>
  <md-card-content>
    <form *ngIf="active" id="new-application-form" (ngSubmit)="createApplication()" #newApplicationForm="ngForm">
      <md-input placeholder="Registration Cost*" [(ngModel)]="application.registrationCost" name="registration" required>
        <span md-prefix>$&nbsp;</span>
      </md-input>
      <md-input placeholder="Transportation Cost*" [(ngModel)]="application.transportationCost" name="transportation" required>
        <span md-prefix>$&nbsp;</span>
      </md-input>
      <md-input placeholder="Accommodation Cost*" [(ngModel)]="application.accommodationCost" name="accommodation" required>
        <span md-prefix>$&nbsp;</span>
      </md-input>
      <md-input placeholder="Meal Cost*" [(ngModel)]="application.mealCost" name="meals" required>
        <span md-prefix>$&nbsp;</span>
      </md-input>
      <md-input placeholder="Conference Description" [(ngModel)]="application.conferenceDescription"
                name="conferenceDescript"></md-input>
      <md-input placeholder="Presentation Title" [(ngModel)]="application.presentationTitle"
                name="presentationTitle"></md-input>
      <paper-dropdown-menu #dropdown label="Presentation type">
        <paper-listbox class="dropdown-content" (iron-select)="getPresentationType($event)">
          <paper-item *ngFor="let option of presentationOptions">{{option.label}}</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-button type="submit" (click)="createApplication()">Submit</button>
    <button md-button routerLink="/" type="button">Cancel</button>
  </md-card-actions>
</md-card>
