<md-card align="center" id="registerCard">
  <md-card-title>Register</md-card-title>
  <md-card-content>
    <form *ngIf="active" id="register-form" (ngSubmit)="register()" #registerForm="ngForm">
      <md-input placeholder="Name" [(ngModel)]="user.name" name="person-name"></md-input>
      <md-input placeholder="Username" [(ngModel)]="user.username" name="username"></md-input>
      <md-input type="email" placeholder="Email" [(ngModel)]="user.email" name="email"></md-input>
      <md-input type="password" placeholder="Password" [(ngModel)]="user.password" name="pass"></md-input>
      <span>Roles:</span>
      <md-radio-group [(ngModel)]="user.role" name="role">
        <md-radio-button *ngFor="let role of roles" [value]="role.value" style="padding: 0 16px">
          {{role.label}}
        </md-radio-button>
      </md-radio-group>
      <md-autocomplete
        placeholder="Supervisor"
        [items]="supervisors"
        [itemText]="'display'"
        [getMatches]="getMatches"
        [(selectedItem)]="user.supervisor"
        *ngIf="user.role == 'student'"></md-autocomplete>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-button type="submit" (click)="register()">Register</button>
  </md-card-actions>
</md-card>
