<md-card>
  <md-card-title>
    Student 12345
  </md-card-title>
  <md-card-content>
    <div class="wrapper">
      <div class="item">
        <md-icon class="mdi-24px" fontSet="mdi" fontIcon="mdi-currency-usd"></md-icon>
        <span class="cost">${{studentApplication.registrationCost}}</span>
      </div>
      <div class="item">
        <md-icon class="mdi-24px" fontSet="mdi" fontIcon="mdi-bus"></md-icon>
        <span class="cost">${{studentApplication.transportationCost}}</span>
      </div>
      <br>
      <div class="item">
        <md-icon class="mdi-24px" fontSet="mdi" fontIcon="mdi-hotel"></md-icon>
        <span class="cost">${{studentApplication.accomodationCost}}</span>
      </div>
      <div class="item">
        <md-icon class="mdi-24px" fontSet="mdi" fontIcon="mdi-food"></md-icon>
        <span class="cost">${{studentApplication.mealCost}}</span>
      </div>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button id="action-accept">ACCEPT</button>
    <button md-button id="action-reject">REJECT</button>
  </md-card-actions>
</md-card>
