<md-card>
    <md-card-title>
        Student {{application.owner}}
    </md-card-title>
    <md-card-subtitle>
        <span>Status:</span><span [ngStyle]="{'color': recommendationColour}">&nbsp;{{application.recommendation}}</span>
    </md-card-subtitle>
    <md-card-content>
        <div class="wrapper">
            <div class="item">
                <md-icon class="mdi-24px" fontSet="mdi" fontIcon="mdi-currency-usd"></md-icon>
                <span class="cost">${{application.registrationCost}}</span>
            </div>
            <div class="item">
                <md-icon class="mdi-24px" fontSet="mdi" fontIcon="mdi-bus"></md-icon>
                <span class="cost">${{application.transportationCost}}</span>
            </div>
            <br>
            <div class="item">
                <md-icon class="mdi-24px" fontSet="mdi" fontIcon="mdi-hotel"></md-icon>
                <span class="cost">${{application.accommodationCost}}</span>
            </div>
            <div class="item">
                <md-icon class="mdi-24px" fontSet="mdi" fontIcon="mdi-food"></md-icon>
                <span class="cost">${{application.mealCost}}</span>
            </div>
        </div>
    </md-card-content>
    <md-card-actions>
        <button md-button id="action-accept" *ngIf="application.role == 'supervisor' && application.recommendation == 'Pending'" (click)="acceptApplication()">
            ACCEPT
        </button>
        <button md-button id="action-reject" *ngIf="application.role == 'supervisor' && application.recommendation == 'Pending'" (click)="rejectApplication()">REJECT</button>
        <button md-button id="action-cancel" *ngIf="application.role == 'student' && application.recommendation == 'Pending'" (click)="cancelApplication()">CANCEL</button>
    </md-card-actions>
</md-card>
