md-card {
  max-width: 40%;
  position: absolute;
  top: 15%;
  left: 40%;
  padding: 30px 0 50px;
  border-radius: 4px;
}

md-card-content md-input {
  display: block;
  margin: 16px 64px;
  padding: 1px;
}

md-card-content .ng2-dropdown-container {
  margin: 16px 64px;
  padding: 1px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ng2-dropdown-container > ng2-dropdown-button {
  font-weight: normal;
}
