md-card {
  min-height: 0;
  width: 92%;
  max-width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 8px;
}

md-card-content md-input {
  display: block;
  margin: 16px 64px;
  padding: 1px;
}

#new-application-form md-radio-button {
  display: block;
}

#new-application-form span {
  display: block;
}
