md-card {
  min-height: 0;
  width: 92%;
  max-width: 350px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  margin: 16px 0;
}

md-card-content md-input {
  display: block;
  margin: 16px 64px;
  padding: 1px;
}

.new-application-form md-radio-button {
  display: block;
}

.new-application-form span {
  display: block;
}
