md-card {
  max-width: 40%;
  position: absolute;
  top: 15%;
  left: 40%;
  padding: 30px 0 50px;
  border-radius: 4px;
}

md-card-content md-input {
  display: block;
  margin: 16px 64px;
  padding: 1px;
}

button {
  margin: 4px 0;
}

#register-form md-radio-button {
  display: block;
}

#register-form span {
  display: block;
}
